body {
    font-size: 50px;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bold {
    font-weight: bold;
}
p.lighter {
    font-weight: lighter;
}
.sl {
    font-weight: 100;
}
.s800 {
    font-weight: 800;
}
p {
    text-shadow: -50px 5px 10px red, 10px 10px 10px black;
    color: white;
    letter-spacing: 10px;
}